.Gallery{
    @apply font-lato;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    & >.GalleryInner{
    
      @apply max-w-5xl w-full h-full mx-auto;
    }

    .Modal{
        @apply p-2 rounded-lg flex flex-col     
         z-30 text-black w-[500px] h-[500px] absolute 
        top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
       
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        background-color: #FAFCFF;
        & >.ModalInner{
            @apply px-4 py-2 h-full w-full;
            .list{
                @apply h-full w-full flex flex-col gap-px  overflow-y-scroll;
                .predictionsList{
                    @apply w-full h-full
                }
            }
        }
    }
    .Item{
        @apply p-2 rounded-lg flex flex-col     
        z-40 text-black bg-white w-[350px] h-[300px] absolute 
       top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
       
       box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
       background-color: #FAFCFF ;
       .ItemInner{
        @apply px-4 py-2;
       }
    }
}

.Pagination{
  
    ul {
        max-width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        padding: 0 5rem;
      }
      
      ul li a {
        @apply py-2 px-2.5 rounded;
        border: gray 1px solid;
        cursor: pointer;
        margin: 0 4px;
      }
      ul li.previous a,
      ul li.next a,
      ul li.break a {
        @apply m-4;
        background: (255, 253, 250,0.5);
        border-color: transparent;
      }
      ul li.selected a {
        background-color: #393E46;
        border-color: transparent;
        color: white;
        min-width: 32px;
      }
      ul li.disabled a {
        color: grey;
      }
      ul.react-paginate li.disable,
      ul.react-paginate li.disabled a {
        cursor: default;
      }
}

  