

.SideBar{
    @apply w-full text-font-sideBar h-full;
    transition: all 0.3s ease;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    max-width: 14%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    & > .SideBarInner{
        @apply w-full h-full;

        & >.MainIcon{
            @apply max-w-[67px] min-h-[67px] px-[18px] py-[18px];
        }


        & >.heading{
            @apply min-h-[67px] flex justify-between items-center text-white font-bold text-[26px] text-center px-6 py-3.5;

            .burgerIcon{
                @apply relative flex flex-col  gap-1.5 w-6 h-6;

                span:nth-child(1) {
                    position: absolute;
                    top: 0;
                }
                span:nth-child(2) {
                    position: absolute;
                    top: calc(50% - 4px);
                }
                span:nth-child(3) {
                    position: absolute;
                    top: calc(100% - 8px);
                }


                span{
                    @apply w-full bg-white rounded-lg h-1;
                    transition: all 0.3s ease;
                }
            }
            .burgerIcon.disabled{
                
                span:nth-child(1) ,
                span:nth-child(3) {
                    background-color: red;
                    top: calc(50% - 4px);   
                }
                span:nth-child(1) {
                    transform: rotate(45deg);
                }
                span:last-child {
                    transform: rotate(-45deg);
                }
                span:nth-child(2){
                    opacity: 0;
                }
            }

        }

        & > .list {
            @apply mt-10 flex flex-col ;


            .item{
                @apply  flex gap-3 text-white items-center py-3 px-5 border-[#EBEBF599] border-t ;
                .barIcon {
                    @apply w-6 h-6; 
                }
                .text{
                    @apply text-menu font-semibold;
                }
                &:hover{
                    @apply opacity-70 bg-[#EEEEEE] text-[#393E46];
                }
            }
            .item.active{
                @apply bg-[#F7F7F7] text-[#0C356A];
            }
        }
    }

}

.SideBar.disabled{
    @apply w-full ;
    max-width: 5%;
    transition: all 0.4s ease;

    .heading{
        @apply px-2 justify-center;

        .text{
            @apply hidden;
            
        }
    }


    .list {
        @apply mt-10 flex flex-col;

        .item{
            @apply justify-center  ; 

            .text{
                @apply hidden;
                
            }
        }
    }
}