


.Header {
    @apply bg-slate-100 font-lato relative ;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    & > .HeaderInner{
        @apply flex justify-between items-center px-6 py-3 border-b border-[#F9F9F9];

        .dropDownButton.enabled{
            color:rgb(63, 61, 61);
            transition: all .5s ease;
        }
        .dropDownButton.disabled{
            color:rgba(0, 0, 0, 0.93);
            transition: all .5s ease;
            transform: rotateX(180deg);
        }
    }
    .dropDown{
        @apply rounded-lg right-6 -bottom-[180px] p-4 absolute z-20;
        background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        transform: translateY(0);

        transition: all .3s ease;
        & >.dropDownInner{
           
            .profile{
                @apply  flex gap-3 items-center justify-center border-b-2 border-black py-1.5;
            }
            .list{
                @apply mt-4 flex flex-col gap-2;

                .item{
                    @apply flex gap-2 p-1.5 items-center rounded-lg;
                    .icon{
                        @apply w-[26px] h-[26px] text-[#393E46];
                    }

                    .text{
                        @apply text-[#393E46] text-[14px];
                    }

                    &:hover{
                        @apply bg-[#929AAB];
                        .icon{
                            @apply text-white;
                        }
                        .text{
                            @apply text-white;
                        }
                    }
                }
            }
        }

        
    }
    .dropDown.disabled{
        transform: translateY(-20%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
    }
}