


.Header {
    @apply bg-slate-100 font-lato relative ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    & > .HeaderInner{
        @apply flex justify-between items-center px-6 py-3 border-b border-[#F9F9F9];
    }
    .dropDown{
        @apply rounded-lg right-6 -bottom-40 bg-[#EEEEEE] p-4 absolute z-20;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all .3s ease;


        & >.dropDownInner{
           
            .profile{
                @apply  flex gap-3 items-center justify-center border-b-2 border-black py-1.5;
            }
            .list{
                @apply mt-4 flex flex-col gap-2;

                .item{
                    @apply flex gap-2 p-1.5 items-center rounded-lg;
                    .icon{
                        @apply w-[26px] h-[26px] text-[#393E46];
                    }

                    .text{
                        @apply text-[#393E46] text-[14px];
                    }

                    &:hover{
                        @apply bg-[#929AAB];
                        .icon{
                            @apply text-white;
                        }
                        .text{
                            @apply text-white;
                        }
                    }
                }
            }
        }

        
    }
    .dropDown.disabled{
        @apply hidden ;}
}